<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite1">
	<listeners>
		<listener class-name="base.Listeners"/>
	</listeners>
  <test name="Test1">
    <classes>
      <class name="base.Baseclass"/>
      <class name="utilities.TestUtils"/>
      <class name="testcase.Register"/>
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite1 -->